<form [formGroup]="form" (ngSubmit)="submitForm()" class="form-container">
  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Namn</mat-label>
    <input matInput formControlName="name" placeholder="Projektnamn" required />
    <mat-error *ngIf="form.get('name')?.hasError('required')"
      >Namn krävs</mat-error
    >
    <mat-error *ngIf="form.get('name')?.hasError('minlength')"
      >Minst 3 tecken</mat-error
    >
  </mat-form-field>

  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Beskrivning</mat-label>
    <textarea
      matInput
      formControlName="description"
      placeholder="Beskrivning"
    ></textarea>
    <mat-error *ngIf="form.get('description')?.hasError('required')"
      >Beskrivning krävs</mat-error
    >
  </mat-form-field>

  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Deadline</mat-label>
    <input
      matInput
      [matDatepicker]="picker"
      formControlName="deadline"
      required
    />
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
    <mat-error *ngIf="form.get('deadline')?.hasError('required')"
      >Deadline krävs</mat-error
    >
  </mat-form-field>

  <button
    mat-raised-button
    color="primary"
    type="submit"
    [disabled]="form.invalid"
  >
    {{ submitLabel }}
  </button>
</form>
