<mat-form-field appearance="outline" class="search-field">
  <mat-label>Sök projekt</mat-label>
  <input
    matInput
    type="text"
    [(ngModel)]="searchProject"
    placeholder="Namn eller beskrivning"
  />
</mat-form-field>

<div class="project-grid">
  <mat-card
    *ngFor="let project of projects() | projectFilter : searchProject"
    class="project-card"
  >
    <mat-card-header>
      <mat-card-title>{{ project.name }}</mat-card-title>
      <mat-card-subtitle
        >Deadline:
        {{ project.deadline | date : "mediumDate" }}</mat-card-subtitle
      >
    </mat-card-header>

    <mat-card-content>
      <p>{{ project.description }}</p>
    </mat-card-content>

    <mat-card-actions align="end">
      <button mat-stroked-button color="primary" (click)="edit(project)">
        <mat-icon>edit</mat-icon> Redigera
      </button>
      <button mat-stroked-button color="warn" (click)="delete(project.id)">
        <mat-icon>delete</mat-icon> Radera
      </button>
      <button
        mat-flat-button
        color="accent"
        [routerLink]="['/projects', project.id]"
      >
        <mat-icon>visibility</mat-icon> Visa detaljer
      </button>
    </mat-card-actions>
  </mat-card>
</div>

<app-edit-project
  *ngIf="selectedProject"
  [projectEdit]="selectedProject"
  (editCompleted)="editCompleted()"
></app-edit-project>

<ng-template #noProject>
  <p>Inga projekt hittades.</p>
</ng-template>
