<select [(ngModel)]="statusFilter">
  <option value="alla">Alla</option>
  <option value="aktiva">Aktiva</option>
  <option value="klara">Klara</option>
</select>

<ul>
  <li *ngFor="let ticket of ticket | ticketFilter : statusFilter">
    {{ ticket.title }} - Status:
    {{ ticket.completed === "yes" ? "Klar" : "Ej klar" }}
  </li>
</ul>

<ul *ngIf="ticket.length > 0; else noTickets">
  <li *ngFor="let ticket of ticket">
    {{ ticket.title }} - {{ ticket.completed ? "Yes" : "No" }}
    <br />
    {{ ticket.priority }}
    <button (click)="edit(ticket)">Redigera</button>
    <button (click)="delete(ticket.id)">Radera</button>
  </li>
</ul>

<app-edit-ticket
  *ngIf="selectedTickets"
  [ticketEdit]="selectedTickets"
  (editCompleted)="handelEditComplete()"
>
</app-edit-ticket>

<ng-template #noTickets>
  <p>Inga tickets kunde hittas.</p>
</ng-template>

<app-create-new-ticket
  (tickedAdded)="handelTicketAdded()"
></app-create-new-ticket>
