<mat-form-field appearance="outline" class="search-field">
  <mat-label>Filtrera tickets</mat-label>
  <mat-select [(ngModel)]="statusFilter">
    <mat-option value="alla">Alla</mat-option>
    <mat-option value="aktiva">Aktiva</mat-option>
    <mat-option value="klara">Klara</mat-option>
  </mat-select>
</mat-form-field>

<div class="ticket-grid">
  <mat-card
    *ngFor="let t of ticket() | ticketFilter : statusFilter()"
    [appPrioColor]="t.priority"
    class="ticket-card"
  >
    <mat-card-header>
      <mat-card-title>{{ t.title }}</mat-card-title>
      <mat-card-subtitle>
        Status:
        {{ t.completed === "yes" ? "Klar" : "Ej klar" }}
      </mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      <p><strong>Biskrivning:</strong> {{ t.description }}</p>
    </mat-card-content>

    <mat-card-content>
      <p><strong>Prioritet:</strong> {{ t.priority }}</p>
    </mat-card-content>

    <mat-card-actions align="end">
      <button mat-stroked-button color="primary" (click)="edit(t)">
        <mat-icon>edit</mat-icon> Redigera
      </button>
      <button mat-stroked-button color="warn" (click)="delete(t.id)">
        <mat-icon>delete</mat-icon> Radera
      </button>
    </mat-card-actions>
  </mat-card>
</div>

<app-edit-ticket
  *ngIf="selectedTickets()"
  [ticketEdit]="selectedTickets()!"
  (editCompleted)="handelEditComplete()"
></app-edit-ticket>

<app-create-new-ticket
  (tickedAdded)="handelTicketAdded()"
></app-create-new-ticket>

<ng-template #noTickets>
  <p>Inga tickets kunde hittas.</p>
</ng-template>
