<button mat-raised-button color="primary" (click)="sortByPriority()">
  {{
    sortPriority()
      ? "Stäng av prioriteringssortering"
      : "Sortera efter prioritet"
  }}
</button>
<app-filter
  [label]="'Sök tickets'"
  [type]="'text'"
  [placeholder]="'Skriv sökord...'"
  [model]="searchTerm()"
  (modelChange)="searchTerm.set($event)"
/>

<app-filter
  [label]="'Filtrera tickets'"
  [type]="'select'"
  [options]="[
    { value: 'alla', label: 'Alla' },
    { value: 'aktiva', label: 'Aktiva' },
    { value: 'klara', label: 'Klara' }
  ]"
  [model]="statusFilter()"
  (modelChange)="statusFilter.set($event)"
/>

<div class="ticket-grid">
  <mat-card
    *ngFor="
      let t of ticket()
        | ticketFilter : statusFilter() : searchTerm() : sortPriority()
    "
    [appPrioColor]="t.priority"
    class="ticket-card"
  >
    <mat-card-header>
      <mat-card-title>{{ t.title }}</mat-card-title>
      <mat-card-subtitle>
        Status:
        {{ t.completed === "yes" ? "Klar" : "Ej klar" }}
      </mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      <p><strong>Biskrivning:</strong> {{ t.description }}</p>
    </mat-card-content>

    <mat-card-content>
      <p><strong>Deadline: </strong> {{ t.dudate | date : "dd-MM-yyyy" }}</p>
    </mat-card-content>

    <mat-card-content>
      <p><strong>Prioritet:</strong> {{ t.priority }}</p>
    </mat-card-content>

    <mat-card-actions align="end">
      <button mat-stroked-button color="primary" (click)="edit(t)">
        <mat-icon>edit</mat-icon> Redigera
      </button>
      <button mat-stroked-button color="warn" (click)="delete(t.id)">
        <mat-icon>delete</mat-icon> Radera
      </button>
    </mat-card-actions>
  </mat-card>
</div>

<app-edit-ticket
  *ngIf="selectedTickets()"
  [ticketEdit]="selectedTickets()!"
  (editCompleted)="handelEditComplete()"
></app-edit-ticket>

<app-create-new-ticket
  (tickedAdded)="handelTicketAdded()"
></app-create-new-ticket>

<ng-template #noTickets>
  <p>Inga tickets kunde hittas.</p>
</ng-template>
